In [65]:
import spacy
import numpy as np
import pandas as pd
from collections import Counter
from wordfreq import word_frequency
import scipy
from scipy import stats
import matplotlib.pyplot as plt 
import csv

In [53]:
# Read datafile and add header
tsv_data = pd.read_csv("C:/Users/sebas/Documents/GitHub/NLP/experiments/base_model/model_output.tsv",
                       encoding='latin-1', sep='\t', header=None)
tsv_data.columns = ["Names", "Gold", "Predicted"]

# Drop the ---
tsv_data = tsv_data.dropna(0, 'any')

C:\Users\sebas\AppData\Local\Temp\ipykernel_2160\1996081036.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  tsv_data = tsv_data.dropna(0, 'any')

In [72]:
class_c = tsv_data[tsv_data["Gold"] == "C"]
class_n = tsv_data[tsv_data["Gold"] == "N"]

In [73]:
class_c

           Names Gold Predicted
0    coordinator    C         N
1       Zemilton    C         N
3      witnessed    C         N
11      forensic    C         N
21    repeatedly    C         C
..           ...  ...       ...
438     contract    C         C
439    extension    C         C
445       winger    C         N
447       Ribéry    C         N
452    extension    C         C

[89 rows x 3 columns]

In [89]:
from sklearn.metrics import f1_score, recall_score, precision_score

In [104]:
'''
Class c
'''
print(f"recall: {recall_score(class_c['Gold'].to_numpy(), class_c['Predicted'].to_numpy(), average='binary', pos_label = 'C')}")
print(f"Precision: {precision_score(class_c['Gold'].to_numpy(), class_c['Predicted'].to_numpy(), average='binary', pos_label = 'C')}")
print(f"f1: {f1_score(class_c['Gold'].to_numpy(), class_c['Predicted'].to_numpy(), average='binary', pos_label = 'C')}")

recall: 0.48314606741573035
Precision: 1.0
f1: 0.6515151515151515

In [107]:
'''
Class c
'''
print(f"recall: {recall_score(class_n['Gold'].to_numpy(), class_n['Predicted'].to_numpy(), average='binary', pos_label = 'N')}")
print(f"Precision: {precision_score(class_n['Gold'].to_numpy(), class_n['Predicted'].to_numpy(), average='binary', pos_label = 'N')}")
print(f"f1: {f1_score(class_n['Gold'].to_numpy(), class_n['Predicted'].to_numpy(), average='binary', pos_label = 'N')}")

recall: 0.9428571428571428
Precision: 1.0
f1: 0.9705882352941176